:root {
    --background-color: #dbdfdf;
    --secondary-text-color: #909999;
    --image-text-color: #323358;
 }
 html {
  box-sizing: border-box;
}
.box {
  display: flex;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background:rgb(254, 254, 254);
  }

    p {
      font-family: "Poppins", sans-serif;
      font-size: 1em;
      line-height: 2;
      color: var(--image-text-color);
      text-align: center;
      border-radius: 4px;
    }
    
    h6 {
      color: var(--image-text-color);
      text-align: center;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 100;
      font-size: 1.2em;
    
    }
    /* .h7 {
      text-align: center;
      color: var(--image-text-color);
      }  */

      /* body {
        margin-top:0;
        padding:0;
        display: flex;
        justify-content:center;
        align-items:center;
        height:100vh;
        background:#112c38;
      } */
      /* .brand-btn {
        display: flex;
        align-content: flex-start;
        margin-right: auto;
        transition: 0.5s;
      }

      .brand-btn:hover a {
        transform:scale(1.3);
        opacity:1;
        filter:blur(0);
        text-decoration:none;
        color:#c9c0bb;
      } */

     


      ul{
        margin:0;
        padding:0;
        display: flex;
      }
      
      ul li{
        list-style:none;
        padding: 0 3em;
        transition:0.5s;
      }
      
      ul li a,
      ul li button {
        display: block;
        position:relative;
        text-decoration:none;
        padding:5px;
        font-size:14px;
        font-family: sans-serif;
        color:#fff;
        text-transform:uppercase;
        transition:0.5s;
      }
      
      ul:hover li a,
      ul:hover li button {
        transform:scale(1.5);
        opacity:0.4;
        filter:blur(2px);
      }
      
      ul li a:hover,
      ul li button:hover {
        transform:scale(1.3);
        opacity:1;
        filter:blur(0);
        text-decoration:none;
        color:#defa0a;
      }

    a {
      text-decoration: none;
      color: azure;
    }
   

    .navigation-container {
      background: #c0c0c0;
      opacity: 80%;
      height: 3em; 
      width: 100vw; 
      display: flex; 
      justify-content:center;
      margin-bottom: 2em; 
      padding: 5px 15px; 
      font-size: 1em;
      color:#dbdfdf;
      cursor: pointer;
      position: relative;
    } 
  
 
 
     button {
     display:flex;
     align-self:auto; 
     margin-left: 1em;
     font-weight: 100;
     box-shadow: none; 
     border: 0px; 
     color:#dbdfdf;
     background: #c0c0c0;  
    } 

    .dark-mode-theme button {
      background: #161615;
    }

    /* #toggle-btn:hover {
      color:#7693B6; */
      /* cursor: pointer; */
      /* opacity: 1rem; */
      /* color: steelblue; */
    /* } */ 
   
    #theme {
      width: 100vw;
      height: 100vh;
    }
  
 
  
    /* dark mode */
  
    /* button {
      padding-top: 20px;
      /* margin-left: 200px; */
      /* border: 0px; */
      /* font-weight: 200;
    }
    
    .dark-mode-theme a {
      color: var(--background-color);
    }
    a:hover {
      text-decoration: none;
      color:#7693B6;
    }
    /* .dark-mode-theme a:hover {
      color: var(--secondary-text-color);
    }  */


    /* background/text in dark mode */
    .dark-mode-theme {
      background: #212529;
/* color: var(--background-color); */
}
    .dark-mode-theme a:hover {
      color:#defa0a;
    }
  .dark-mode-theme .navigation-container {
    background:#161615;
  }
  .card-text {
    font-size: .8rem;
  }
  /* main container and slide down */
  .main-container {
    /* font-family: "Poppins", sans-serif; */
    width: 100vw;
    text-align: center;
    opacity: 80%;
  }

  .main-container h3 {
    padding-top: 30px;
    padding-bottom: 20px;
    color:#212529;
    font-size: 4.2em;
    opacity: 80%;
  }

  .main-container h1,
  .container h1 {
    color:#212529;
    letter-spacing: .05em;
    font-size: 9em;
    font-weight: 500;
    font-family: 'Abril Fatface';
  }


   .slide-down {
    overflow: hidden;
    padding-bottom: 2em;

   }
   .slide-down h2 {
    color:#212529;
    font-size: 1.2em;
    animation:2s slide-down 2s forwards;
    transform:translateY(-100%);
}
@keyframes slide-down {
 to {
   transform:translateX(0%);
 }
} 

   /* dark mode styling */
   .dark-mode-theme .main-container h1 {
    color:#defa0a;
    opacity: 85%;

}

.dark-mode-theme .main-container h3{ 
    padding: 60px;
    color: #fff;
}

.dark-mode-theme .main-container h2{ 
color: #fff;
}
  

    /* all footer css  */
  footer {
    /* margin: 5em; */
    text-align: center;
    /* color: steelblue; */
    font-size: 2em;
    background-color: #212529;
    padding: 4em;
  }
  .source-link {
    color: var(--secondary-text-color);
    font-size: .3em;
  }
  .footer-link {
    color: azure;
    text-decoration: none;
  }
  .footer-link:hover {
    color: #defa0a;
  }
  .social-container {
    margin-top: 19px;
  }
  .social-links a {
    color: azure;
    text-decoration: none;
    margin: 0 20px;
    background: var(--image-text-color);
    opacity: 60%;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: .6em;
  }
  .social-links a:hover {
    background: var(--image-text color);
  }

  .dark-mode-theme .social-links a:hover {
    background-color: var(--background-color);
    opacity:80%;
    box-shadow: 0 5px 15px var(--background-color);
  }
  footer p {
    font-size: 1.3em;
    color: var(--background-color);
  }
  /* .dark-mode-theme .footer-link {
    color: var(--background-color);
  } */



  /* projects container spheres */
  .container {
    /* position: relative; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
    padding: 0; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-columns: minmax(1px, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 75px 75px;
  }
  
  .item-a {
    grid-column: 2 / 6;
    grid-row: 1;
  }
  .item-b {
    grid-column: 5 / 6;
    grid-row: 1;
    
  }
  .item-c {
    grid-column: 2 / 6;
    grid-row: 2;
  }
  .item-d {
    grid-column: 5 / 6;
    grid-row: 2;
  }
  /* individual cards */
  .container .card {
    /* position: relative; */
    width: 320px;
    height: 320px;
    border-radius: 300px;
    /* margin-top: 40px;  */
    overflow: hidden;
    box-shadow: 2px 3px 2px #535b63;
    border-color: #766989;
  }
  /* background and content  */
  .container .card .imgC,
  .container .card .contentC {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
   /* background on card */
  .container .card .imgC {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: radial-gradient(azure, #c0c0c0, #A8A9AD);
    border-color: #f0f2f5;
    opacity: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  /* dark mode background on card */
  .dark-mode-theme .container .card .imgC {
     background-image: radial-gradient(azure, var(--image-text-color));
  }

  .dark-mode-theme .container .card {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 20px; 
    overflow: hidden;
    border-radius: 300px;
    border:none;
  }
  
  /* hidden desciption and link text before hover */
  .container .card .contentC::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transition: transform 0.7s ease-in-out;
    transform-origin: left;
    transition-delay: 0.2s;
  }
  
 /* hidden description and link text on hover */
  .container .card:hover .contentC::before {
    transform: scale(1);
    transition: transform 0.7s ease-in-out;
    transform-origin: left;
    /* background-color: rgb(58, 55, 64); */
    background-color:rgb(237, 235, 241);
    opacity: 50%;
    background-image: url("../src/media/dictionary_img.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
    /* project title name */
  .container .card .contentC {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* descriptive text and link after slide over */
  .container .card .contentC p {
    color:#98ABC3;
    font-size: .6em;
  }
 
  /* project title card */
  .container .card  .contentC .content {
    position: relative;
    padding: 30px;
    z-index: 1;
    transition: 0.5s;
    transform: translateX(-300px);
    transition-delay: 0s;
    /* overflow: hidden; */
  }
  /* project title card on hover */
  .container .card:hover .contentC .content {
    transform: translateX(0px);
    transition-delay: 0.7s;
  }

  .intro-container text {

    color: var(--image-text-color);
    margin: 2em;
    width: 20vw;
    padding: 5em;
  } 
  
  .button-link {
    display: flex;
    justify-content: center;
  }
  .button-link a:hover {
    background-color:#defa0a;
    border: #defa0a;
    opacity:80%;
    box-shadow: 0 5px 15px #535b63;
    color: #212529;
  }
  
  .email-link {
    color: var(--background-color);
    text-decoration: none;
    font-size: 1em;
  }
  .email-link:hover {
    color: #defa0a;
    text-align: center;
  }

  /* contact page css */
  .contact-container .contact a {
    text-decoration: none;
    color: var(--image-text-color);
    font-family: "Poppins", sans-serif serif;
    font-size: 1.8em;
    line-height: 30px;
    padding: 45px;
  }
  
  .contact-container .contact a:hover {
    color: var(--image-text-color);
  }
  .contact-container .contact h1 {
    margin-top: 200px;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    padding-bottom: 60px;
    color:var(--image-text-color);
    }


  .dark-mode-theme .container .card .contentC p {
    font-size: .6em;;
  }

  .dark-mode-theme .contact-container .contact a {
    text-decoration: none;
    color:#dbdfdf;
    font-family: "Poppins", sans-serif serif;
    font-size: 1.8em;
    line-height: 1.8em;
  }
  .dark-mode-theme .contact-container .contact h1 {
    margin-top: 200px;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    padding-bottom: 60px;
    color:#defa0a;
    }
    .dark-mode-theme .contact-container .contact a:hover {
      color:#defa0a;
    }

  
    /* buttons */
  .button {
    text-decoration: none;
    color:var(--image-text-color);
    background: rgb(233, 237, 240);
    padding: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-weight:light;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .button:hover .glow-button:hover {
    color: azure;
  }
  
  .glow-button:hover {
    background-color: azure;
    opacity:90%;
    box-shadow: 0 5px 15px azure;
  }
  


  
  /* @media screen and (max-width: 767px) {

      body {
        width:100%;
        height: auto;
      }
     .dark-mode-theme body {
      width: 100vw;
     }
     .navigation-container {
      background: var(--image-text-color);
      opacity: 80%;
      height: 2.8rem; 
      width: 100%; 
      display: flex; 
      justify-content:right; 
       }
 
    
    .container {
      font-size: 1rem;
      padding: 0;
    }

  .container .card {
    position: relative;
    width: 12rem;
    height: 12rem;
    margin: 1rem; 
    overflow: hidden;
    border-radius: 12rem;
    }

    .dark-mode-theme .container .card {
      position: relative;
      width: 12rem;
      height: 12rem;
      margin: 1rem; 
      overflow: hidden;
      border-radius: 12rem;
    }
    .container .card .imgC {
      font-size: 1em;
    }

    .dark-mode-theme .container .card .imgC {
      font-size: 1em;
    }

    
    .dark-mode-theme .main-container h1 {
      /* color:#dbdfdf; */
      /* color: slateblue;
      padding: .4rem 0 .4em;
    }
  
     .main-container h1 {
     font-size: 3em;
     margin: auto;
     display:flex;
     justify-content: center;
     flex-wrap: nowrap;
     letter-spacing: .2em;
     padding: .4em 0 .4em;
     color: var(--image-text-color);
     opacity: 1rem;
     width: 100%;
    }
   

    .main-container h3 {
      font-size: 1.7em;
      color: #212529;
      opacity: 80%;
      text-align: center;
      padding: .4em 0 .2em;
    }
    .dark-mode-theme .main-container h3 {
      padding: .4em 0 .2em;
      font-size: 1.7em;
    }

     h4,
     h5,
     h6 {
       text-align: center;
       font-size: 1rem;
       margin: 20px;
     }

     .main-container {
      text-align: center;
      margin: 1rem;
    } 
    .slide-down {
      width:100%;
      overflow:hidden;
      text-align: center;
    }

   
    
    .slide-down h2 {
       
        font-size: .9em;
        margin: auto;
        color: #212529;
        opacity: 80%;
      animation:2s slide-down 2s forwards;
         transform:translateY(-100%);
    }
    @keyframes slide-down {
      to {
        transform:translateX(0%);
      }
    }


      .container .card .contentC p {
        color:#98ABC3;
        font-size: .5rem;
      }

      ul {
        list-style-type: none;
      }

     a,
     footer {
       text-align: center;
       font-size: 1rem;
     }

     
     .button-link {
       box-sizing: content-box;
       text-align: center;
       margin-left: 2em;
       padding: 3rem 0 .5rem;
     }
     .contact-container h1 {
       text-align: center;
       font-size: 1rem;
       margin-bottom: 20px;
     }
     footer a {
      width: 100vw;
      padding-bottom: 6rem;
      font-size: .5rem;
     }

     .footer-link {
      font-size: .5rem;
     }
     */