:root {
    --background-color: #dbdfdf;
    --secondary-text-color: #909999;
    --image-text-color: #323358;
 }
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* height: 100vh; */
    /* max-width: 100%; */
    background: var(--background-color);
  }
  
  .main-container h3 {
    color: var(--secondary-text-color);
    font-family: "Poppins", sans-serif;
    font-size: 24px;
  }

  .main-container h1 {
    color: var(--image-text-color);
    opacity: 80%;
    font-size: 150px;
    font-family: "Poppins";
    font-weight: 500;
  }

  .main-container h2 {
    color: var(--secondary-text-color);
    opacity: 60%;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    width: 100vw;
  }

  .slide-down {
    /* overflow:hidden; */
    margin: 0 auto;
  }
  
  .slide-down h2 {
    text-align: center;
    animation:2s slide-down 2s forwards;
       transform:translateY(-100%);
  }
  @keyframes slide-down {
    to {
      transform:translateX(0%);
    }
  } 

   /* main text elements */
   /* .main-container { */
    /* .slide-up 
    .slide-down { */
      /* display: flex;
      align-content: center;
      flex-wrap: wrap;
      width: 100vw;
      margin: 20px;
    } */

/* 
  .main-container .slide-up {
  color: var(--secondary-text-color);
  font-size: 20px;
  font-family:  "Poppins", sans-serif;
  width: 100vw;
  min-width: 1000px;
}

  .main-container h1 {
    color:var(--image-text-color);
    opacity: 80%;
    font-size: 150px;
    font-weight: 500;
    font-family: 'Poppins';
    padding-top: 80px;
    min-width:max-content;
    width: 100vw;
  }
 .main-container h2 {
    color: var(--secondary-text-color);
    opacity: 60%;
    font-size: 24px;
    font-family:  "Poppins", sans-serif;
    padding-bottom: 30px;
    width: 100vw;
 }
   

 /* slide effect on header  */

 .slide-up { 
  position: absolute; 
  width:100%; 
  overflow:hidden; 
  max-width:100vw; 
  margin-top: 100px;
  width: 100vw; 
  margin-right: 600px; 
 }

.slide-up h3 {
  text-align: center;
  animation:2s slide-up 2s forwards;
     transform:translateY(270%);
}
@keyframes slide-up {
  to {
    transform:translateX(0%);
  }
}

/* .slide-down {
  overflow:hidden;
  margin-left: 250px;
  min-width: 1000px;
}

.slide-down h2 {
  text-align: center;
  animation:2s slide-down 2s forwards;
     transform:translateY(-100%);
}
@keyframes slide-down {
  to {
    transform:translateX(0%);
  }
}  */

  
    p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 2;
    color: steelblue;
    text-align: center;
    border-radius: 4px;
  }
  
  h6
  {
    color: var(--image-text-color);
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
  }
  .h7 {
    text-align: center;
    color: var(--image-text-color);
    } 

  ul {
    display: flex;
    align-items: end;
    list-style-type: none;
    text-decoration: none;
  }

  .navigation-container {
    background: var(--image-text-color);
    height: 45px; 
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 25px; 
  }

  .brand {
    height: 100%; 
    width: 70px;
    padding: 5px 15px; 
    font-size: 20px;
    color:#dbdfdf;
  }

  .nav-links {
    padding: 5px 15px;
    cursor: pointer;
  }

  .nav-item {
    padding: 5px 15px;
    cursor: pointer;
  }

  .dark-mode-toggle {
    background: none;
    margin-left: 400px;
    /* background: #7693B6; */
    color: steelblue;
    /* box-shadow: none; */
    border: 0px;
  }
  
  #toggle-btn {
    padding: 5px 15px;
    /* padding: .5em; */
    font-weight: 600;
    margin-right: 30px;
    box-shadow: none;
    border: 0px;
    color:#dbdfdf;
  }
  #toggle-btn:hover {
    cursor: pointer;
    opacity: 0.8;
    color: steelblue;
  }
 
  #theme {
    width: 100vw;
    height: 100vh;
  }

  /* background/text in dark mode */
  .dark-mode-theme {
    background: var(--image-text-color);
    color: var(--background-color);
  }


    /* all footer css  */
  footer {
    margin: 5px 0;
    text-align: center;
    color: steelblue;
    font-size: 30px;
  }
  footer .source-link {
    color: var(--secondary-text-color);
    font-size: 10px;
  }
  footer .footer-link {
    color: var(--image-text-color);
    text-decoration: none;
  }
  footer .footer-link:hover {
    color: cadetblue;
  }
  footer .social-container {
    margin-top: 19px;
  }
  footer .social-links a {
    color: azure;
    text-decoration: none;
    margin: 0 20px;
    background: var(--secondary-text-color);
    opacity: 60%;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
  }
  footer .social-links a:hover {
    background: var(--image-text color);
  }
  footer p {
    font-size: large;
    color:#323358;
  }
  a {
    text-decoration: none;
    color: azure;
  }
  a:hover {
    text-decoration: none;
    color: steelblue;
  }


  /* projects container spheres */
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
  }
  /* individual cards */
  .container .card {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 20px; 
    overflow: hidden;
    border-radius: 300px;
  }
  /* background and content  */
  .container .card .imgC,
  .container .card .contentC {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
   /* background on card */
  .container .card .imgC {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: radial-gradient(azure, rgb(58, 55, 64));
    opacity: 90%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  /* .dark-mode-theme, .container .card .imgW {
    background-image: radial-gradient(azure, rgb(58, 55, 64));
  }
  .dark-mode-theme, .container .card .imgS {
    background-image: radial-gradient(azure, rgb(58, 55, 64));
  } */
  /* dark mode background on card */
  .dark-mode-theme .container .card .imgC {
    background-image: radial-gradient(azure, rgb(58, 55, 64));
  }
  
  /* hidden desciption and link text before hover */
  .container .card .contentC::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
    transition-delay: 0.5s;
  }
  
 /* hidden description and link text on hover */
  .container .card:hover .contentC::before {
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
    background-color: rgb(58, 55, 64);
  }
    /* project title name */
  .container .card .contentC {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* descriptive text and link after slide over */
  .container .card .contentC p {
    color:#98ABC3;
  }
 
  /* project title card */
  .container .card  .contentC .content {
    position: relative;
    padding: 30px;
    z-index: 1;
    transition: 0.5s;
    transform: translateX(-300px);
    transition-delay: 0s;
    /* overflow: hidden; */
  }
  /* project title card on hover */
  .container .card:hover .contentC .content {
    transform: translateX(0px);
    transition-delay: 0.5s;
  }
  
  /* about page css */
  .about-portrait {
    border: 3px solid #323358;
    border-radius: 100px;
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    opacity: 58%;
  }
  
  /* .main-container h3 {
    margin-top: 90px;
    color: var(--secondary-text-color);
  } */
  .about-container {
    color: var(--image-text-color);
    max-width: 1000px;
    margin: 5px;
  }
  
  .button-link {
    display: flex;
    justify-content: center;
  }
  .button-link a:hover {
    background-color: var(--image-text-color);
    box-shadow: 0 5px 15px var(--image-text-color);
  }
  
  .email-link {
    color: var(--background-color);
    text-decoration: none;
    font-size: 15px;
  }
  .email-link:hover {
    color: cadetblue;
    text-align: center;
  }

  /* contact page css */
  .contact-container .contact a {
    text-decoration: none;
    color: var(--image-text-color);
    font-family: "Poppins", sans-serif serif;
    font-size: 30px;
    line-height: 30px;
    padding: 45px;
  }
  
  .contact-container .contact a:hover {
    color: steelblue;
  }
  .contact-container .contact h1 {
    margin-top: 200px;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    padding-bottom: 60px;
    color:var(--image-text-color);
    }

    /* dark mode styling */
   .dark-mode-theme h1 {
        color:#232020;
        opacity: 60%;
    }

    .dark-mode-theme .main-container h3{ 
        padding: 60px;
        color: #fff;
   }

   .dark-mode-theme .main-container h2{ 
    color: #212529;
}


  .dark-mode-theme .contact-container .contact a {
    text-decoration: none;
    color: var(--background-color);
    font-family: "Poppins", sans-serif serif;
    font-size: 30px;
    line-height: 30px;
  }
  .dark-mode-theme .contact-container .contact h1 {
    margin-top: 200px;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    padding-bottom: 60px;
    color:var(--background-color);
    }
    .dark-mode-theme .contact-container .contact a:hover {
      color: steelblue;
    }

  
    /* buttons */
  .button {
    text-decoration: none;
    color: var(--image-text-color);
    background: rgb(233, 237, 240);
    padding: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-weight:lighter;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .glow-button:hover {
    color: var(--image-text-color);
    box-shadow: 0 5px 15px rgba(52, 176, 230, 0.4);
  }
  
  .dark-mode-theme .glow-button:hover {
   color: var(--background-color);
   box-shadow: 0 5px 15px;
  }
  
  @media only screen and (min-width: 325px) {
     h1 {
     text-align: center;
     font-size: 50px;
     letter-spacing: 7px;
     padding: 30px;
    }

     h4,
     h5,
     h6 {
       text-align: center;
       font-size: 20px;
       margin: 20px;
     }

     .main-container {
      text-align: center;
      margin: 20px;
      width: 95%;
      /* min-width: 900px;  */
    } 

     /* #navbarText {
      display: flex;
      justify-content: end;
     } */
     /* .dark-mode-toggle {
      background: #7693B6;
      color: steelblue;
      box-shadow: none;
      border: 0px;
    } */
    .dark-mode-toggle {
      display: flex;
      align-items: flex-start;
        margin-left: 20px;
        background: #7693B6;
        color: steelblue;
        box-shadow: none;
        border: 0px;
      }
      .nav-links {
        /* display: flex;
        align-items: center; */
      text-align: center;
      margin:0 auto;
      }
     a,
     footer {
       text-align: center;
       font-size: 15px;
     }
     h2 {
      font-size: 17px;
      width:429px;
     }

     #toggle-btn {
      padding: 5px 5px;
      /* margin-left: 200px; */
      font-weight: 600;
      box-shadow: none;
      border: 0px;
      background: var(--image-text-color);
      color: var(--background-color);
    }

  
     .slide-up {
        position: absolute;
        width:100%;
        overflow:hidden;
        margin-left: 0px;
        max-width:400px;
        margin-top: 0px;
      }
      
      .slide-up h3 {
        /* text-align: center; */
        color: var(--image-text-color);
        animation:2s slide-up 2s forwards;
           transform:translateY(270%);
      }
      @keyframes slide-up {
        to {
          transform:translateX(0%);
        }
      }
     .slide-down {
      width:100%;
      overflow:hidden;
      margin-left: 20px;
      max-width:800px;
    }
    
    .slide-down h2 {
        text-align: center;
      color: var(--image-text-color);
      animation:2s slide-down 2s forwards;
         transform:translateY(-100%);
    }
    @keyframes slide-down {
      to {
        transform:translateX(0%);
      }
    }
   
     .about-container {
       text-align: center;
     }
     
     .about-container h2 {
      margin-bottom: 10px;
     }
     .about-container p {
       font-size: 15px;
       color: var(--image-text-color);
       margin-top: 40px;
     }
     .about-container .about-portrait {
       margin-top: 0;
       padding: 0px;
     }
     .button-link {
       box-sizing: content-box;
       text-align: center;
       margin-left: 30px;
       padding: 20px;
     }
     .contact-container h1 {
       text-align: center;
       font-size: 60px;
       margin-bottom: 20px;
     }
  }