:root {
    --background-color: #dbdfdf;
    --secondary-text-color: #909999;
    --image-text-color: #323358;
 }
 html {
  box-sizing: border-box;
  }

.dark-mode-theme html {
  background: #212529;
}


*, :before, :after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  height: 100vh; 
  width: 100%;
  display:flex;
  justify-content: center; 
  align-items: center; 
  max-width: 100vw;
    /* max-width: 100%; */
  min-height: 100vh; 
  background:rgb(254, 254, 254);
  }



    p {
      font-family: "Poppins", sans-serif;
      font-size: 1em;
      line-height: 2;
      color: var(--image-text-color);
      text-align: center;
      /* border-radius: 4px; */
    }
    
    h6 {
      color: var(--image-text-color);
      text-align: center;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 100;
      font-size: 1.2em;
     }

     .h5 {
      margin-top: 6rem;
     }


     ul {
        margin:0;
        padding:0;
        display: flex;
      }
      
      ul li {
        list-style:none;
        padding: 0 3em;
        transition:0.5s;
      }
      
      ul li a,
      ul li button {
        display: block;
        position:relative;
        text-decoration:none;
        padding:.4em;
        font-size: .9em;
        font-family: sans-serif;
        color:#fff;
        text-transform:uppercase;
        transition:0.5s;
     }
      
      ul:hover li a,
      ul:hover li button {
        transform:scale(1.5);
        opacity:0.4;
        filter:blur(2px);
      }
      
      ul li a:hover,
      ul li button:hover {
        transform:scale(1.3);
        opacity:1;
        filter:blur(0);
        text-decoration:none;
        color:#defa0a;
      }

    a {
      text-decoration: none;
      color: azure;
    }
   

    .navigation-container {
      display: flex; 
      justify-content:center;
      margin-bottom: 2em; 
      padding: .6em 4em; 
      background: #080808;
      opacity: 90%;
      height: 3em; 
      width: 100vw; 
      font-size: 1em;
      color:#dbdfdf;
      cursor: pointer;
      position: relative;
    } 
  
 
 
     button {
     display:flex;
     align-self:auto; 
     margin-left: 1em;
     font-weight: 100;
     box-shadow: none; 
     border: .1em; 
     color:#dbdfdf;
     background: #080808;  
    } 

    .dark-mode-theme button {
      background: #161615;
    }

    .dark-mode-theme .card-dark .card  {
      background: #161615;
    }
    .dark-mode-theme .card {
      background: #161615;
    }

    .dark-mode-theme .card-text,
    .dark-mode-theme .card-title {
      color:#8a9999;
    }

    .card-title {
      margin: 1em 0 0 1em;
      text-align: center;
    }

   
    #theme {
      width: 100vw;
      height: 100vh;
    }   
    .container-about {
    display:flex;
    justify-content: center;
    align-items:stretch;
    flex-wrap: wrap; 
    }
   
   

   /* .wrapper img {
    display:flex;
    justify-self: left;
    align-content: center;
    width: 10rem;
    max-width: 100%;
   } */

   .auto-grid {
    --auto-grid-min-size: 20rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: .5rem;
    padding: 1rem 1rem;
    text-align: center;
    /* font-size: 1rem; */
    border: 1px solid #161615;
    color:#0e0f02;
    height: 15rem;
    margin-bottom: 1rem;
   }

    .wrapper {
      max-width: 60rem;
      /* margin: 0 auto; */
      padding: 0 .3rem;
      /* border-style: 1px solid #161615;; */
       img {
        display:flex;
        justify-self: left;
        align-content: center;
        width: 10rem;
        max-width: 100%;
       }
      p {
        font-size: .6rem;
      }
    }

    .skill-style {
      padding: .1rem .4rem;
      text-align: center;
      font-size: .5rem;
      line-height: .1rem;
     }


    /* background/text in dark mode */
    .dark-mode-theme {
      background: #212529;
}
    .dark-mode-theme a:hover {
      color:#defa0a;
    }
  .dark-mode-theme .navigation-container {
    background:#161615;
  }
  .card-text {
    font-family: "Poppins", sans-serif;
    font-size: .8rem;
  }

  .card-body-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  /* main container and slide down */
  .main-container {
    width: 100vw;
    text-align: center;
    opacity: 80%;
  }

  .main-container h3 {
    padding-top: .6em;
    padding-bottom: .6em;
    color:#212529;
    font-size: 4.2em;
    opacity: 80%;
  }

  .main-container h1,
  .container h1 {
    color:#212529;
    letter-spacing: .05em;
    font-size: 9em;
    font-weight: 500;
    font-family: 'Abril Fatface';
  }
 

   .slide-down {
    overflow: hidden;
    padding-bottom: 2em;

   }
   .slide-down h2 {
    color:#212529;
    font-size: 1.2em;
    animation:2s slide-down 2s forwards;
    transform:translateY(-100%);
}
@keyframes slide-down {
 to {
   transform:translateX(0%);
 }
} 

   /* dark mode styling */
   .dark-mode-theme .main-container h1 {
    color:#defa0a;
    opacity: 85%;

}

.dark-mode-theme .main-container h3{ 
    padding: .8em;
    color: #fff;
}

.dark-mode-theme .main-container h2{ 
color: #fff;
}

.card-box {
  width: 40rem; 
  max-height:18rem;
}
  

    /* all footer css  */
  footer {
    /* margin: 5em; */
    text-align: center;
    /* color: steelblue; */
    font-size: 2em;
    background-color: #212529;
    padding: 4em;
  }

  .projects-footer {
    font-size: 1em;
    background-color: #212529;
    padding: 8em;
    margin-top: 1.4em;
  }

  .projects-footer .source-link {
    font-size: .5em;
    /* padding: 6em; */
  }

  .dark-mode-theme .projects-footer {
    background:#0e0f02;
    padding: 7em;
  }

  .projects-container {
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
  }


   .skill-list  {
    display: block;
    text-align: center;
    font-size: .8em;
    margin-top: 1em;
  } 

  .dark-mode-theme .skill-list {
    color:#8a9999;
  }

  .contact-container footer .button-link  {
    margin-top: 15rem;
  }
  .source-link {
    color: var(--secondary-text-color);
    font-size: .3em;
  }
  .footer-link {
    color: azure;
    text-decoration: none;
  }
  .footer-link:hover {
    color: #defa0a;
  }


  .dark-mode-theme .social-links a:hover {
    background-color: var(--background-color);
    opacity:80%;
    box-shadow: 0 5px 15px var(--background-color);
  }
  footer p {
    font-size: 1.3em;
    color: var(--background-color);
  }


  .intro-container text {

    color: var(--image-text-color);
    margin: 2em;
    width: 20vw;
    padding: 5em;
  } 
  
  .button-link {
    display: flex;
    justify-content: center;
  }
  .button-link a:hover {
    background-color:#defa0a;
    border: #defa0a;
    opacity:80%;
    box-shadow: 0 5px 15px #535b63;
    color: #212529;
  }
  
  .email-link {
    color: var(--background-color);
    text-decoration: none;
    font-size: 1em;
  }
  .email-link:hover {
    color: #defa0a;
    text-align: center;
  }

  /* contact page css */
  .contact-container .contact a {
    display: inline-block;
    padding: 1.5em;
    text-decoration: none;
    color:#3d4145;
    font-size: 3em; 
  }
  
  .contact-container .contact a:hover {
    color:#defa0a;
  }
  .contact-container .main-container h1 {
    margin-top: 8rem;
    color:#212529;
    letter-spacing: .05em;
    font-size: 9em;
    font-weight: 500;
    font-family: 'Abril Fatface';
    }


  .dark-mode-theme .contact-container .contact a {
    color:#dbdfdf;
  }
  .dark-mode-theme .contact-container .main-container h1 {
    padding-bottom: .5em;
    color:#defa0a;
    }

  .dark-mode-theme .contact-container .contact a:hover {
      color:#defa0a;
    }

  
    /* buttons */
  .glow-button {
    text-decoration: none;
    color:#161615;
    background: rgb(233, 237, 240);
    padding: 1.4em;
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    font-weight:light;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1em;
  }
 
  
  .glow-button:hover {
    background-color:#3d4145;
    opacity:90%;
    box-shadow: 0 2px 5px #0e0f02;
    color: #defa0a;
  }
  
  /* portfolio slider  */

.portfolio-wrapper {
  margin-top: .2em;
}

.line {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &:hover {
    & ~ .line .slide {
      transform: translateY(0);
    }

    .slide {
      transform: translateX(100%);
    }

    & .card-projects:hover ~ .card-projects .slide {
      transform: translateX(-100%);
    }

    .card-projects:hover .slide {
      transform: none;
      visibility: visible;
      transition-delay: 0s;
      color:#161615;
    }
  }
}

.card-projects {
  overflow: hidden;
  position: relative;
  flex: 1 1 auto;
  max-width: 30em;
  height: 17em;
  margin: 1.4em;
  margin-top: 5em;

  .photo-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    transform-origin: bottom right;
    transition: .2s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .slide {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 1em;
    will-change: transform;
    transform: translateY(0);
    transition: all 0.275s ease-in-out, visibility 0s 0.175s;

    h2 {
      color:#ebf7ea;
      text-decoration: none;
      font-weight: bolder;
      letter-spacing: .2em;
      font-size: 1.4em;
      margin: 0 0 1em;
      z-index: 0;
    }

    .divider {
      margin-bottom: 1em;
      width: 2.5em;
      height: .4em;
    }

    p {
      font-size: .8em;
      color:azure;
    }
  }

}

/* @media screen and (max-width: 400px) {
  .img-fluid {
    max-width: 40rem;
  }
} */

@media screen and (max-width: 1200px) {
  
  ul li a,
  ul li button {
    font-size: .6em;
    padding-top: .5em;
  }

  .main-container h1 {
    font-size: 4.7em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-container h3 {
    font-size: 1.2em;
    margin-bottom: .6em;
  }

  .skill-list h2 {
    margin-bottom: .3em;
  }

  .skill-list {
    margin-bottom: .2em;
  }

  .card-projects {
    /* display: flex;
    flex-wrap: wrap; */
    height: 11em;
    max-width: 14em;
    margin-bottom: 4em;
  }
}

 @media screen and (max-width: 600px) {

  .navigation-container {
    position: fixed;
    /* right: 0; */
    width: 100%;
  }

  /* ul {
   margin-right: 2.5em;
  } */

  ul li {
    padding: .6em 2em;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    /* transition:0.5s; */
  }

  ul li button,
  ul li a {
    font-size: .4em;
  }

  .main-container h3 {
    margin-top: 4em;
    font-size: .9em;
  }

  .main-container h1 {
    font-size: 2em;
    display: flex;
    flex-wrap: nowrap;
  }

  .main-container h2 {
    font-size: 1em;
  }
  /* .card {
    max-width: 29rem;
    max-height: 14rem;
  } */
  .card-text {
    font-size: .5em;
  }

  .img-fluid {
    max-width: 9rem;
  }
  /* .skill-list {
    font-size: .5em;
    line-height: .1em;
  }

  .skills-cards .card {
    max-width: 13rem;
    height: 10rem;
  } */

/* 
  .line {
    display: flex;
    justify-content: right;
    flex-direction: column;
  }
  .card-projects {
    height: 100px;
    max-width: 150px;
    margin-bottom: 1px;
  } */

  /* img {
    width: 100%;
    height: auto;
    margin-left: 1em;
  } */

  .navigation-container {
    padding: .6em;
  }
/* 
  .main-container h1 {
    margin-top: 1px;
    font-size: 1em;
  }
  .main-container h3 {
    font-size: .9em;
  }

  .slide-down h2 {
    font-size: .7em;
  }

  .card-text {
   font-size: .7em;
  }
  
  .skill-list {
    font-size: .4em;
    line-height: .1em;
    margin-top: .5em;
  } 

  footer {
    padding: .3em;
  } */
}

 


  /* .card-projects {
    display: flex;
    flex-wrap: wrap;
    height: 120px;
    max-width: 200px;
  }  */

   /* .card-text {
    font-size: .7em;
  }


 
 /* @media (min-width: 768px) and (max-width: 991.98px) {
  .main-container h1 {
    font-size: 4em;
  }
  .card-projects {
    display: flex;
    flex-wrap: wrap;
    height: 340px;
    max-width: 200px;
    margin-bottom: 1px;
  }

  .card-text {
    font-size: .7em;
  } */

